.jumbotron {
    text-align: center;
    margin-top: 50px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

hr {
    height: 10px;
}

.badge-secondary {
    float: right;
    font-size: 16px;
    font-weight: lighter;
}

.btn-info{
    margin-bottom: 5px;
}